@font-face {
  font-family: "Comfortaa";
  src: url("./Comfortaa.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./Comfortaa-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
